<h1>Neue Gruppe</h1>

<%= form_tag "/groups/new", method: "post" do %>
	<div class="span10">
		<%= label_tag :name , "Name der Gruppe: " , class:"label label-inverse" %><br>
		<%= text_field_tag :name %><br/>
		<%= label_tag :des , "Beschreibung der Gruppe: " , class:"label label-inverse" %><br>
		<%= text_area_tag :des %><br/>
		<%= label_tag :permission , "Rechte der Gruppe: " , class:"label label-inverse" %><br>
	</div>
	<table id="permission" class="table table-hover span5" style="padding:30px; border: 2px solid grey; border-radius: 8px">
	<% session[:perms].each do |x| %>
	<tr>
		<td class="span4"><%= label_tag x[0] , x[1] %></td>
		<td><%= check_box_tag x[0] , "permission[#{x[0]}]" %></td>
	<tr>
	<% end %>
	</table>
	<%= submit_tag "Erstellen" , class: "btn btn-success btn-large" %>
<% end %>
