<div class="span12" id="posts"></div>
<script>                                                                                                                                                                                         
  var offset = 0;                              
	var uid = "<%= "#{params[:id]}" %>"                                                                                                                                                
  $("#posts").load("/posts/get_next_posts/"+uid+"/"+offset);                                                                                                                          
	$(window).scroll(function() {                                                                                                                                                                  
	if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {                                                                                                                 
      offset += 20;                                                                                                                                                                              
      $("#posts").append($("<div>").load("/posts/get_next_posts/"+uid+"/"+offset));                                                                                                   
    }                                                                                                                                                                                            
  });                                                                                                                                                                                            
</script>
