<%= form_tag "/profile/add_state" do %>                                                                                                       
<div id="postModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">                                                                     
  <div class="modal-header">                                                                       
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>          
	<h5 id="postModalLabel">Ein kleiner Post über deinen letzten Film/Abend?</h5>                  
</div> 
  <div class="modal-body">                                                                                                                                                                       
		<%= text_area_tag :content , nil , :class => "input-xlarge" , :rows => "4"%>
	</div>                                                                                                                                                                                         
  <div class="modal-footer">                                                                                                                                                                     
    <%= submit_tag "Absenden" , :class => "btn btn-inverse" %>                                                                             
  </div>                                                                                                                                                                                         
</div>                                                                                                                                                                                           
<% end %>
