<div class="hero-unit">
  <h1>Hi, <%=@current_user.username.capitalize%>. </h1>
  <p><br>Willkommen auf mov1e.Overvi3w:<br>
			Wir sind ein Projekt von 1n3t.org. Du überlegst ständig "Welchen Film schauen wir heute?". Notiere Dir das doch einfach? Gib eine Bewertung ab. Schreibe eine Rezension! <br>
			Lade Freunde ein. Aboniere dir Bewertungen deiner Freunde. Nicht alle? Nur Lovestory's? Entscheide selbst! <br>
  </p>
  <p>
    <a class="btn btn-primary btn-large">
      Auf Gehts!
    </a>
  </p>
</div>
