<div class="hero-unit">                                                                                                                                                                          
  <h1>
		<% @active_user = @current_user.username if @user.nil? %> 
		<% @active_user = @user.map(&:username).join unless @user.nil? %>
		<%= @active_user.capitalize %> 
	</h1>                                                                                                                                                                               
</div>
<div class="row">                                                                                                                                                                                           
<div class="span8 alert alert-info alert-block">
  <ul class="nav nav-pills">                                                                                                                              
		<% @menu.each do |x| %>    
			<li class="<%= "active" if @menu_active.downcase == x.title.downcase %>">
				<a href="/<%= 
									"profile/"+User.find_hash_by_username(@active_user).map(&:uid).join+"/"+x.title.downcase
									%>"><%= x.title %></a>
			</li> 
		<% end %>                                                                                  
  </ul>                                                                                                                                                                                          
</div>
<% if ( me?( params[:id] , session[:user_id] ) ) %>
	<div class="span3 pull-right"><a href="#postModal" role="button" class="btn btn-info btn-block btn-large" data-toggle="modal">Status setzen?</a></div> 
<% end %>
</div>
<%# render _stateModal which includes the form for posts %>
<%= render "stateModal" if ( me?( params[:id] , session[:user_id] ) )  %> 
 

<div class="span12" id="content" >
	<%= (params[:menu]) ? (render params[:menu]) : (render "home")  %>
</div>


