<h2><%=@current_user.username.capitalize%> Einstellungen!  <h2>
<table class="table table-striped table-hover">
<tr>
	<th><h4>Auswahl</h4></th>
	<th><h4>Interaktion</h4></th>
	<th></th>
</tr>
<tr>
	<%= form_tag nil, :class => "form-inline" do %>
	<td><%= check_box_tag :checkbox,nil,
			UserSettings.find_by_user_id(session[:user_id]).pagination == true ? :checked : nil
	%></td>
	<td><%= label_tag :checkbox , "Ich möchte überall manuell blättern" , :class => "checkbox" , :style => "font-weight:bold;"%></td>
	<td><%= submit_tag "Ändern", :class => "btn btn-inverse"%></td>
	<%= hidden_field_tag "key" , "pagination" %>
	<% end %>
</tr>
</table>
