<%= form_for(@menu_entry) do |f| %>
  <% if @menu_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_entry.errors.count, "error") %> prohibited this menu_entry from being saved:</h2>

      <ul>
      <% @menu_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
