<h1>Listing menu_entries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_entries.each do |menu_entry| %>
      <tr>
        <td><%= menu_entry.title %></td>
        <td><%= link_to 'Show', menu_entry %></td>
        <td><%= link_to 'Edit', edit_menu_entry_path(menu_entry) %></td>
        <td><%= link_to 'Destroy', menu_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu entrie', new_menu_entry_path %>
