<h1>Neuen Film hinzufügen</h1>

<%= form_tag "/movies/new"  do %>
	<div class="span12"><%= label_tag :moviename , "Bitte so deklarieren: 'MeinNeuerFilm_Episode3' 
													--- Achtung --- Es werden keine weiteren Sonderzeichen akzeptiert (ä,ö,...)", 
													class: "label label-important"%></div>
	<div class="span12"><%= text_field_tag :moviename , nil , :placeholder => "Hier einen Namen eingeben" , :class => "span3" , :autocomplete => "off"%> </div>
	<div class="span12"></div>
	<div class="span12">
		<div class="span2"><%= label_tag :genere , "Genere:", class: "label label-inverse"%>  </div>
		<%= select_tag(:genere, options_for_select(Genere.all.map(&:title))) %></div> 
	<div class="span12">
		<div class="span2"><%= label_tag :description , "Beschreibung:", class: "label label-inverse"%>  </div>
		<%= text_area_tag :description %></div> 
	<div class="span12"><%= submit_tag "Erstellen" , :class => "btn btn-inverse btn-large"%></div> 
<% end %>

