
<h2><%= @movie.name.gsub("_"," ") %></h2>

<!-- LOAD FROM GOOGLE -->
<% unless @media.empty? %>
<ul class="thumbnails">
	<% @media.each do |x| %>
		<%	if x.typ_id == GA_IMAGE	%>
			<li class="span3">
				<a class="thumbnail">
					<img src="<%= x.src %>" alt=""/>
				</a>
			</li>
		<% end %>
	<% end %>
</ul>
<% end %>
<!-- END -->

<table class="table table-hover">
	<% unless @movie.description.empty?  %>
	<tr>
	  <td class="span5"><h4>Beschreibung:</h4></div>
	  <td class="well"><%= @movie.description %></div>
	</tr>
	<% end %>
	<tr>
  	<td class="span5"><h4>Rating:
  	<span style="color: orangered"><%= @movie.rating %></span><h4></td>
		<td class="span7">
			<%= form_tag "/movies/rate" , id: "ratingform" do %>
			<%= hidden_field_tag :movie_id , @movie.id%>
				<% 5.times do |i|%>
					<input name="star" type="radio" value="<%= i+1 %>" class="star <%= "required" if i+1 == 1 %>" <%= "checked" if @movie.rating.to_i == i+1 %>/>
				<% end %>
			<%= submit_tag "Bewerten", style: "display:none"%>
			<% end %>
	</td>
	</tr>
	<tr>
  	<td class="span5"><h4>Genere:</h4></td>
  	<td class="span7"><span class="label label-inverse"><%= Genere.find(@movie.genere).title %></span></td>
	</tr>
	<% unless @media.empty?%>
	<tr>
		<td class="span5"><h4>Gefundenes Video:</h4></td>
		<td class="span7"><iframe width="560" height="315" 
			src="//www.youtube.com/embed/<%= @media.select{|x| x if x.typ_id == GA_VIDEO}.map(&:src).join.split("v=")[1].split("&")[0] %>" 
			frameborder="0" allowfullscreen></iframe></td>
	</tr>
	<% end %>
</table>

<script>
	$('.star').rating({
		callback: function(value, link){
			$( "#ratingform" ).submit();
		}
	});
</script>
