<h2>Suchergebnisse</h2>
<%= form_tag "/search" , :class => "form-inline" do %>
	<%= label_tag :search , "Suche: "  %>
	<%= text_field_tag :search, nil , :placeholder => "Post, User, ... " %>
	<%= submit_tag "Suchen" , :class => "btn btn-inverse"  %>
<% end  %>
<table class="table table-striped table-hover">
	<thead>
	<tr>
		<th>User</th>
		<th>Gefunden in</th>
	</tr>
	</thead>
	<tbody>
	<% unless (@results.nil? || @results.empty?) %>
		<% @results.each do |k,v| %>
		<% k.each do |k,v| %>
			<tr>
				<td><%= link_to v[:name] , 
							(v[:uid].nil?) ? "/m/#{v[:id]}" : "profile/#{v[:uid]}/home"    %></td>
				<td><%= v[:from] %></td>
			</tr>
		<% end %>
		<% end %>
	<% else %>
		<tr>
			<td>Keine Resultate</td>
			<td></td>
		</tr>
	<% end %>
	</tbody>
</table>
