<div class="row">
<% @posts.each do |x| %>
	<div class="well span7" style="margin-left:0px; margin-bottom:0px; margin-top:17px;">
		<div class="span6"><h6><%=x.content%></h6></div><br>
	</div>
	<div class="well-small offset1 span6" style="margin-top: -10px; background-color: grey; box-shadow: 5px 5px 5px black;">                                                                                    
		<button class="btn btn-inverse btn-small"><i class="icon-check"></i> Gesehen</button>
  </div>
<% end %>
</div>
