<%= form_tag "/search", method: "post", class: "navbar-search pull-right open" do %>                                                                                                       
	<%= text_field_tag "search" , nil , :class => "span3 search-query",:placeholder => "Suchen" , :autocomplete => "off" %>
	<ul class="dropdown-menu results" id="results" style="display:none"></ul>	
<% end %>

<script>
		$( "#search" ).keyup(function() {
			val = document.getElementById('search');
			if (val.value == "" ) document.getElementById('results').style.display="none";
			else document.getElementById('results').style.display="block";
			$( ".results" ).load( "/search/user?val="+val.value );	
		});
</script> 
