<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "mov1e.Overvi3w" %></title>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/home">mov1e.Overvi3w</a>
          <div class="container-fluid nav-collapse">
						<div class="input-append pull-right">
            <% if session[:user_id]
							@current_user = User.find session[:user_id] %>
							<%= render :partial => "layouts/search" %>
						<% end %> 
						</div>
						<ul class="nav nav-pills" >
              <li><%= link_to "Sign up!", "/create" unless session[:user_id] %></li>
							<li><%= link_to "Login!", "/login" unless session[:user_id] %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
					<% if session[:user_id] %>
					<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Hi <%= @current_user.username %> </li>
							<li><%= link_to "Home" , "/home"  %></li>
							<li><%= link_to "Neuer Film" , "/movies/new"  %></li>
							<li><%= link_to "Neue Gruppe" , "/groups/new"  %></li> 
							<li><%= link_to "Einstellungen" , "/sessions/setting"  %></li>
							<li><%= link_to "Profil" , "/profile/#{User.find_hash_by_id(session[:user_id]).map(&:uid).join}/home"  %></li>
              <li><%= link_to "Logout" , "/logout"  %></li>
            </ul>
          </div><!--/.well -->
					<% end %>
        </div><!--/span-->
				<div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
