/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require jquery-star-rating
 */

.alert {
	box-shadow: 10px 10px 5px #888;
	border-radius: 10px;
	border: 2px dotted darkgrey;
	opacity: 0.8;
}

.alert-success {background-color: lightgreen;}
.alert-error {background-color: red;}
.alert-warning {background-color: oragnered;}
