<%= form_for(@genere) do |f| %>
  <% if @genere.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genere.errors.count, "error") %> prohibited this genere from being saved:</h2>

      <ul>
      <% @genere.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
