<h1>Listing generes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @generes.each do |genere| %>
      <tr>
        <td><%= genere.title %></td>
        <td><%= link_to 'Show', genere %></td>
        <td><%= link_to 'Edit', edit_genere_path(genere) %></td>
        <td><%= link_to 'Destroy', genere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genere', new_genere_path %>
